# minio credentials 
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

# LDAP
LDAP_ADMIN_PASSWORD=test1234
LDAP_DOMAIN=mpicec.local

# ldap phpmyadmin
PHPLDAPADMIN_LDAP_HOSTS=ldap_server
PHPLDAPADMIN_HTTPS="false"

# Postgres db
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=mysecretpassword
POSTGRES_DB=postgres
PGDATA=/data/postgres

# jupyter
JUPYTER_ENABLE_LAB=1
GRANT_SUDO="yes"

# Neo4j
NEO4J_ROOT_USER=neo4j
NEO4J_ROOT_PASSWORD=test

# amundsen
NEO4J_AUTH=${NEO4J_ROOT_USER}/${NEO4J_ROOT_PASSWORD}
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
PROXY_ENDPOINT=elastic_container
SEARCHSERVICE_BASE=http://amundsensearch:5000
METADATASERVICE_BASE=http://amundsenmetadata:5000
FRONTEND_SVC_CONFIG_MODULE_CLASS=amundsen_application.config.TestConfig

#redis
ALLOW_EMPTY_PASSWORD="yes" # only for dev

# django
DJANGO_SECRET_KEY=h-ez_cm#k_sw*di5##rm8lg$$$$d8r_q7&4av5-h7*si4e26cv4m
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
EMAIL_HOST_USER=<your-email>
EMAIL_HOST_PASSWORD=<your_email_password>
EMAIL_HOST=<your_email_host, e.g.smtp.gmail.com>
DJANGO_SECURE_SSL_REDIRECT=False
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0
POSTGRES_HOST_AUTH_METHOD=trust
AIRFLOW_UID=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_HOME=/home/airflow
AIRFLOW_LOAD_EXAMPLES=no
POSTGRES_DJANGO_DB_NAME=apidb
POSTGRES_DJANGO_HOST=postgres
POSTGRES_DJANGO_USER=postgres
POSTGRES_DJANGO_PASSWORD=mysecretpassword
POSTGRES_DJANGO_PORT=5432
